html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  background: #E28413;
  color: #EDF2EF;
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  font-family: 'Fredoka';
  cursor: pointer;
  box-sizing: border-box;
}

.ticker {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.content {
  display: inline-flex;
  animation: scroll-left 30s linear infinite;
  min-width: 100%;
}
.content:hover {
  animation-play-state: paused;
}

.item {
  margin-right: 30px;
  flex-shrink: 0;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
