@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bg: #fffaf2;
  --surface: #ffffff;
  --text: #333333;
  --accent: #ffa751;
  --highlight: #ffe259;
}

[data-theme='dark'] {
  --bg: #1c1c1c;
  --surface: #2a2a2a;
  --text: #f5f5f5;
  --accent: #ffa751;
  --highlight: #ffe259;
}
body{
  background: linear-gradient(to right, var(--highlight), var(--highlight));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  /* position: sticky; */
  top: 0;
  z-index: 998;
  background: transparent;
  font-family: 'Roboto';
  font-weight: 500;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-list{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.nav-list .nav-links{
  list-style: none;
}
.nav-list .nav-links a{
  text-decoration: none;
  color: var(--accent);
  font-size:30px;
  transition: ease-in .1s;
}

.nav-list .nav-links a:hover{
  color: var(--text);
}

.nav-links:active {
  color: var(--text);
  border-bottom: 2px solid var(--accent);
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button{
  height: 30px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  font-size: 20px;
  border: none;
  border: 2px solid var(--accent);
  border-radius: 5px;
  transition: ease-in-out .1s;
  color: var(--text);
}

.button:hover{
  background-color: var(--accent);
}


